.works {
  /* display: none; */
  font-family: "Source Code Pro", "Arial", "Helvetica";
}

.works_type_visible {
  display: flex;
}

.works__container {
  margin-top: 165px;
}

.works__list {
  padding: 0;
  margin: 0;
}

.works__repo-list {
  padding: 0;
}

.works__repo-item {
  list-style: none;
  margin-bottom: 22px;
}

.works__repo-item:last-child {
  margin-bottom: 0;
}

.works__card {
  display: grid;
  width: 1280px;
  grid-template-columns: 145px 1fr 327px;
  grid-template-rows: 74px auto auto;
  margin-bottom: 50px;
}

.works__card_green {
  background-color: var(--extra-light-green);
}

.works__card_blue {
  background-color: var(--extra-light-blue);
}

.works__card_red {
  background-color: var(--extra-light-red);
}


.works__card_S {
  grid-template-columns: 545px 290px 445px;
  grid-template-rows: 74px;
}

.works__card-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.works__card-title_green {
  background-color: var(--easy-green);
}

.works__card-title_blue {
  background-color: var(--easy-blue);
}

.works__card-title_red {
  background-color: var(--easy-red);
}

.works__card-title_type_S {
  grid-column-start: 1;
  grid-column-end: 2;
  text-overflow: ellipsis;
}

.works__button {
  width: 26px;
  height: 26px;
  border: 0;
  background: no-repeat url("../../images/close__red.svg");
  cursor: pointer;
  margin: 0 43px 0 76px;
  padding: 0;
}

.works__button:hover {
  opacity: 0.8;
}

.works__button_open {
  width: 50px;
  height: 10px;
  background: no-repeat url("../../images/open__btn_small.svg");
  margin: 0 31px 0 64px;
}

.works__button_open:hover {
  opacity: 0.8;
}

.works__link {
  width: 400px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
  color: var(--black);
  text-overflow: ellipsis;
  overflow: hidden;
}

.works__subtitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 690px;
  margin: 25px 0 25px 0;
}

.works__subtitle_S {
  display: none;
}

.works__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

.works__repo-name {
  margin: 0;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.works__repo-link {
  margin-left: 67px;
  text-decoration: none;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}

.works__description {
  max-width: 590px;
  margin: 0 0 0 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--black);
}
