.works {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
}
.works__card {
  display: grid;
  width: 1280px;
  grid-template-columns: 145px 1fr 327px;
  grid-template-rows: 74px auto auto;
  background-color: var(--extra-light-green);
}

.works__card-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--light-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.works__button {
  width: 26px;
  height: 26px;
  border: 0;
  background: no-repeat url("../../images/close__red.svg");
  cursor: pointer;
  margin: 0 43px 0 76px;
  padding: 0;
}

.works__link {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
  color: var(--black);
}

.works__subtitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 690px;
  margin: 25px 0 25px 0;
}

.works__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

.works__repo-name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.works__repo-link {
  margin-left: 67px;
  text-decoration: none;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.works__description {
  max-width: 590px;
  margin-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: var(--black);
}

