.stack {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  z-index: 1;
}

.stack_type_S {
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 0;
}

.stack_blue {
  background-color: var(--blue);
}

.stack__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.stack__subtitle_type_S {
  color: var(--white);
  margin: 0 0 44px 5px;
}

.stack__bracket {
  margin: 0;
  font-style: normal;
  font-weight: 100;
  font-size: 60px;
  color: var(--orange);
}

.stack__bracket:first-of-type {
  margin: 0 0 0 12px;
}

.stack__list {
  padding: 0;
  max-width: 550px;
  max-height: 74px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.stack__list-item {
  margin: 0 3px 3px 3px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  color: var(--red);
}

.stack__list-item_type_S {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: var(--white);
}
