.resume {
  display: none;
}

.resume_type_visible {
  display: flex;
}

.resume__container {
  margin-top: 165px;
  width: 990px;
  display: grid;
  grid-template-columns: 495px 490px;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  color: var(--black);
}
.resume__item {
  align-self: start;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
  /* background-color: tomato; */
  width: 490px;
  /* padding-bottom: 10px; */
  border-left: 4px var(--light-gray) solid;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 20px; /*убрать*/
}

.resume__item_type_s {
  width: 290px;
  margin-right: 110px;
}

.resume__header {
  width: min-content;
  padding: 0 5px 0 5px;
  margin: 10px 0 0 10px;
}
.resume__title {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.resume__line {
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  margin: 4px 0 0 0;
}

.resume__line_type_l {
  width: 62%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  margin: 0;
}

.resume__line_type_experiens {
  background-color: var(--red); 
}

.resume__line_type_education {
  
  background-color: var(--blue);
}

.resume__line_type_extra {
  background-color: var(--green);
}

.resume__subtitle {
  margin: 0;
}
.resume__main {
  box-sizing: border-box;
  padding: 15px 20px 15px 30px;
}

.resume__main_block {
  padding: 15px 0 10px 0;
}

.resume__quot {
  margin-top: 5px;
  width: 100%;
  background-color: var(--light-red);
  box-sizing: border-box;
  padding: 7px 30px;
}

.resume__quot-text {
  margin: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
}

.resume__text {
  line-height: 24px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 33px min-content;
}

.resume__text_type_experiens {
  grid-template-columns: 440px;
  grid-template-rows: min-content;
  margin-top: 5px;
}

.resume__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  padding: 0;
}

.resume__list-item {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.resume__text_skills {
  padding-bottom: 15px;
}

.text__item {
  width: 120px;
  text-align: justify;
}
.resume__footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.resume__footer-button {
  border: 0;
  padding: 0;
  width: 23px;
  height: 23px;
  background: no-repeat url("../../images/arrow-R.svg");
  cursor: pointer;
}

.resume__footer-button_green {
  background: no-repeat url("../../images/arrow-R-green.svg");
}

.resume__footer-button_back {
  background: no-repeat url("../../images/arrow-L.svg");
  margin-right: 50px;
}

.resume__footer-button_back-green {
background: no-repeat url("../../images/arrow-L-green.svg");
}

.resume__red {
  color: var(--red);
}
