.header {
  font-family: "Source Code Pro", "Arial", "Helvetica";
  width: 100%;
  height: 330px;
  background-color: var(--red);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__title {
  margin: 30px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: var(--white);
  margin-left: 139px;
}

.header_invisible-element {
  display: none;
}

.header_type_close {
  height: 110px;
}

.header__link-list {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 30px 0 0 28px;
  padding: 0;
}

.header__link {
  list-style: none;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: var(--orange);
  cursor: pointer;
  outline: none;
  /* transition: .7s linear; */
}

.header__link:focus {
  outline: 3px solid var(--orange);
  /* background: var(--orange); */
  /* color: var(--red); */
  border-radius: 5px;
}

.header__link:last-child {
  margin-bottom: 0;
}

.header__button-conteiner {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__button {
  margin-right: 140px;
  align-self: flex-end;
  width: 50px;
  border: 0;
  cursor: pointer;
  background-color: var(--red);
  margin-bottom: 16px;
  padding: 0;
}

.header__button:focus {
  outline: 3px solid var(--orange);
  border-radius: 100px;
}

.header__button:last-child {
  margin-bottom: 0;
}

.header__link:first-child {
  cursor: default;
}

.header__button-state {
  width: 50px;
  height: 10px;
  margin-top: 20px;
  background-image: url("../../images/open__btn.svg");
}

.header__button-state_close {
  height: 50px;
  margin-top: 0;
  background-image: url("../../images/close__btn.svg");
}

.header__button_lang {
  margin-right: 135px;
  width: auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: var(--white);
}

.header__button_theme {
  width: 50px;
  height: 100px;
  background-image: url("../../images/theme__btn.svg");
}

.header__link:hover {
  background: var(--orange);
  color: var(--red);
  border-radius: 5px;
}
