.bookmark {
  height: 150px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  
}

.bookmark__links {
  background-color: var(--orange);
  width: 190px;
  transform: translateY(150px);
  transition: all 1s ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 46px repeat(1fr, 3);
  border-radius: 0px 20px 0px 0px;
}

.bookmark__close {
  width: 36px;
  height: 36px;
  background: no-repeat url("../../images/close-bookmark-btn.svg");
  border: 0;
  justify-self: end;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.bookmark__label {
  width: 90px;
  background: no-repeat url("../../images/bookmark.svg");
  margin-left: 10px;
  cursor: pointer;
  transition: all 1s ease;
}

.bookmark__label_type_close {
  transform: translateY(150px);
  transition: all 1s ease;
}

.bookmark__links_type_open {
  transform: translateY(0);
  transition: all 1s ease;
}
