@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}

.diagram {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
}

/* .diagram__img {
  width: 190px;
  height: 190px;
  background: no-repeat url("../../images/diagram-01.svg");
  align-self: center;
} */

.diagram__canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.diagram__chart {
  min-width: 190px;
}

.diagram__unit {
  fill: none;
  stroke-width: 15; /* ширина обводки */
  cursor: pointer;
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all; 
  transition-duration: 1.5s;
}

.diagram__unit:nth-child(1) {
  stroke: var(--red);
  stroke-dasharray: 52 100;
}

.diagram__unit:nth-child(2) {
  stroke: var(--blue);
  stroke-dasharray: 48 100;
  stroke-dashoffset: -52;
}

.diagram__unit:nth-child(3) {
  stroke: var(--orange);
  stroke-dasharray: 0 100;
  stroke-dashoffset: -100;
}

.diagram__legend {
  display: grid;
  max-height: 80px;
  grid-template-columns: 10px 1fr;
  grid-template-rows: repeat(auto, 3);
  justify-items: start;
  align-items: center;
}

.diagram__legend-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.diagram__marker {
  width: 10px;
  height: 10px;
}

.diagram__marker_html {
  background: no-repeat url("../../images/marker-html.svg");
}

.diagram__marker_css {
  background: no-repeat url("../../images/marker-css.svg");
}

.diagram__marker_js {
  background: no-repeat url("../../images/marker-js.svg");
}
